body {
  background-color: hsl(47, 88%, 63%);
}
.wrap {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.card {
  display: flex;
  flex-direction: column;
  padding: 24px;
  border-radius: 20px;
  max-width: 384px;
  max-height: 522px;
  background-color: white;
  border: 1px solid hsl(0, 0%, 7%);
  box-shadow: 8px 8px;
  transition: 0.5s ease;
}

.card:hover {
  .headn {
    color: hsl(47, 88%, 63%);
  }
  box-shadow: 16px 15px;
}
.card img {
  width: 336px;
  height: 200px;
  border-radius: 10px;
}
.category {
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 4px;
  padding-bottom: 4px;
  width: 82px;
  height: 29px;
  display: flex;
  margin-top: 24px;
  border-radius: 4px;
  background-color: hsl(47, 88%, 63%);
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}
@font-face {
  font-family: FigtreeB;
  src: url(Figtree-ExtraBold.ttf);
}
@font-face {
  font-family: FigtreeM;
  src: url(Figtree-Medium.ttf);
}
.para {
  font-family: FigtreeB;
  color: hsl(0, 0%, 7%);
  font-size: 14px;
}
main {
  margin-top: 12px;
  font-size: 14px;
  font-family: FigtreeM;
}
h1 {
  font-family: FigtreeB;
  font-size: 24px;
  margin-bottom: 12px;
  transition: color 0.7s ease;
}
.mess {
  font-family: FigtreeM;
  color: hsl(0, 0%, 42%);
  font-size: 16px;
  margin-top: 0px;
  width: 336px;
  margin-bottom: 0;
  line-height: 25px;
}
.name {
  height: 32px;
  display: flex;
  gap: 12px;
  margin-top: 24px;
}
.avatar {
  object-fit: cover;
  max-width: 32px;
  max-height: 32px;
  width: auto;
  height: auto;
  overflow: hidden;
  border-radius: 50%;
}
.nm {
  font-family: FigtreeB;
  font-size: 14px;
}
.nmf {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 375px) {
  .card {
    max-width: 327px;
    max-height: 501px;
  }
  .card img {
    width: 100%;
    height: auto;
  }
  .category {
    width: 73px;
    height: 26px;
  }
  main {
    font-size: 12px;
  }
  h1 {
    font-size: 20px;
  }
  .mess {
    font-size: 14px;
    margin-top: 0px;
  }
}
